<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>會員系統</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="tle">
        <h1>會員系統首頁</h1>
    </div>
    <div id="register">
        <h2>會員註冊</h2>
        <form action="/signup" method="POST">
            <input type="text" required="required" placeholder="暱稱" name="nickname" /><br/>
            <input type="text" required="required" placeholder="信箱" name="email" /><br/>
            <input type="password" required="required" placeholder="密碼" name="password" /><br/>
            <button class="but">註冊</button>
        </form>
    </div>
    <div id="login">
        <h2>會員登入</h2>
        <form action="/signin" method="POST">
            <input type="text" required="required" placeholder="使用者信箱" name="email" /><br/>
            <input type="password" required="required" placeholder="密碼" name="password" /><br/>
            <button class="but">登入</button>
        </form>
    </div>

</body>
</html>